.parrafo {
  text-align: center;
  padding: 5px;
  border: solid black 1px;
  border-radius: 30px;
  margin-top: 30px;
  margin-left: 250px;
  margin-right: 250px;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
}

.parrafo-1 {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: solid black 2px;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
}
h3 {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);

  border-radius: 20px;
  padding: 5px;
}
.parrafo-2 {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: solid black 2px;
  border-radius: 20px;
  padding: 5px;
}

body {
  background: url(/assets/img_inicio/Gemini_Generated_Image_2zrhxu2zrhxu2zrh.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.parrafo-3 {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 1px;
}

.footer_idex {
  color: aliceblue;
}
.parrafo-4 {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: solid black 2px;
  border-radius: 20px;
  padding: 5px;
  font-size: 20px;
}
